body {
  text-align: left;
  min-width: 890px;
  margin: 0 auto; }

.header__logo {
  display: inline-block; }

.header {
  background-color: #30AE63;
  color: white;
  padding: 3% 5%;
  display: inline-block;
  min-width: 890px; }

.header__heading {
  font-size: 150%;
  margin-top: 5%;
  margin-bottom: 5%; }

.header__subheading {
  display: inline-block;
  font-size: 75%;
  margin-right: 26%; }

.header__selection {
  width: 35%;
  padding: 1%;
  margin-right: 2%; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.header__logo, .header__menu, .header__announcement, .menu__item, .header__authorization, .menu__link {
  display: inline-block;
  vertical-align: top;
  margin: 0; }

.header__menu {
  min-width: 50%;
  white-space: nowrap;
  display: inline-block;
  text-align: center; }

.menu__item {
  padding: 2% 2% 3% 2%;
  text-align: center;
  list-style: none;
  margin-left: 5%; }

.checkbox:checked + .header__checkbox-custom {
  background-color: white;
  color: #4F5F68; }

.menu__item:first-child {
  border-bottom: 2px solid white; }
