.btn{
  cursor: pointer;
  background-color: $green;
  font-size: 14px;
  font-family: "Open Sans Bold";
  border: none;
  border-radius: 3px;
  color: white;
  text-align: center;
}
.btn_large{
  @extend .btn;
  letter-spacing: 1px;
  width: 320px;
  height: 40px;
  margin-top: 30px;
}

.btn_extra_grey{
  width: 100%;
  padding: 8px 0;
  border-top: 2px #D8D8D8 solid;
    cursor: pointer;
  button{
        cursor: pointer;
    width: 100%;
    border:none;
    background-color: inherit;
    font-size: 16px;
    line-height: 24px;
  }
}
.slider_nav{
  margin-bottom: 60px;
  text-align: center;
}
.slider_nav_item{
  display: inline-block;
  background-color: inherit;
  width: 10px;
  height: 10px;
  border: 2px solid $green;
  border-radius: 45%;
  cursor: pointer;
}
.slider_nav_grey{
  @extend .slider_nav;
}
.slider_nav_item_grey{
  @extend .slider_nav_item;
   background-color: #D8D8D8;
     border: 2px solid #D8D8D8;
}
.offer_price_range{
    box-sizing: border-box;
    margin: 20px 0;
    border-radius: 5px;
    width: 148px;
    height: 36px;

    padding: 8px;
    font-size: 13px;
    line-height: 100%;

    i{
      font-size: 9px;
      color: #fff;
      background-color: #D8D8D8;
    }
}
.offer_price_range_red{
  @extend .offer_price_range;
    color:#D00202;
    background-color: #FFEFEA;
    	font-family: "Open Sans Bold";
}
.offer_price_range_green{
  color: $green;
  background-color: #EAFFF5;
  @extend .offer_price_range;
}



.next_chapture{
  cursor: pointer;
  font-size: 12px;
  line-height:20px;
  color: #979797;
  margin-top: 35px;
  font-family: "Open Sans SemiBold";
}
.current_chapture{
  color: #000000;
  font-size: 12px;
  line-height: 20px;
    font-family: "Open Sans SemiBold";
}
