.icon_circle_green{
  display: inline-block;
  font-size: 8px;
  background-color: #30AE63;
  border-radius: 50%;
  color: white;
  text-align: center;
  vertical-align: middle;
  padding: 6px 6px ;
  margin-left: 24px;
}
