.choose_type_item:hover{
  font-family: "Open Sans Bold";
  border-bottom: 2px solid #30AE63;
}
.choose_type_item_active{
  font-family: "Open Sans Bold";
  border-bottom: 2px solid #30AE63;
}
.base_list_item_active{
  border-bottom: 2px solid #30AE63;
  font-family: "Open Sans Bold";
  margin-bottom: 0;
}
.base_list_item:hover{
  border-bottom: 2px solid #30AE63;
	font-family: "Open Sans Bold";
    margin-bottom: 0;
}
.slider_nav_item_active{
      background-color: #30AE63;
}

.color_purple{
  color: #BA8FF7;
}
.color_green{
  color: #30AE63;
}
.color_blue{
  color: #2573D8;
}
